$color_black: #000000; 
$color_purple: #F16D7F;


.icon{
    padding: 24px 7px 0 0;
    &:last-child{
        padding: 24px 0;
    }
    &:hover{
        cursor:default; 
    }
    svg:hover{
        cursor: pointer;
        transition: all 0.2s;
        transform: scale(1.05);
        .icon__back{
            fill: $color_purple;
        }
        .icon__symbol{
            fill: #FFFFFF;
        }
    }
}