.input{

    background-color: #E1E1E1;;
    padding:7px 64px 6px 22px;
    max-width: 256px;
    height: 49px;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}