*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    /* outline: 1px solid red; */
}

@import "header";

main{
    min-height: 90vh;
}

.intro{
    background-color: #F8F3F4;
    height: 148px;
    margin-bottom: 51px;
}
.intro__wrap{
    display: flex;
    justify-content: space-between;
}
.intro__text__left{
    margin-top: 59px;
    font-family: Lato;
font-size: 24px;
line-height: 29px;
color: #F16D7F;
}
.intro__text__right{
    margin-top: 65px;
    font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #636363;
}
.intro__span{
color: #F16D7F;
}
.catalog__header{
    display: flex;
}
.filter__text{
    padding-left: 20px;
    font-family: Lato;
font-weight: 600;
font-size: 14px;
line-height: 17px;
    &__2{
        padding: 13px 0 0 20px ;
        font-family: Lato;
font-weight: 600;
font-size: 14px;
line-height: 17px;
    }

}
.catalog__filter__left{
display: flex;
margin-right: 310px;
}

.catalog__filters__center{
    display: flex;
}

#catalog__burger{
    display: none;
}

.filter__nav{
    position: absolute;
    top: 24px;
    left: 30px;
}
.catalog__nav{
    z-index: 0;
    top: -13px;
    // height: 531px;
    background-color: #FFFFFF;
    position: absolute;
    width: 360px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.catalog__filter__2{
    color: #EF5B70;
    &:hover{
        cursor: pointer;
    }
    svg{
        fill: #EF5B70;
    }
}

.catalog__close__title{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
        svg{
         fill: #EF5B70;
    }
}

#catalog__burger:checked ~ .catalog__nav{
    opacity: 1;
    z-index: 2;
    
}
#catalog__burger:not(:checked) ~ .catalog__nav{
    opacity: 0;
    
}

.filter__text__activ{
    padding-left: 20px;
    font-family: Lato;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color:#EF5B70;
svg{
    fill: #EF5B70;
}
}
.catalog__item{
    position: relative;
}
.catalog__items{
    list-style-type: none;
    margin-bottom: 11px;
    a{
        text-decoration: none;
        font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
padding: 0 0 0 34px;
    }
}

.catalog__title{
    padding: 11px 0 11px 11px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    border-left: 5px solid #EF5B70;
    margin:16px 15px 0 17px;
    border-bottom: 1px solid #EBEBEB;
    &__first{
        padding: 11px 0 11px 11px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #EF5B70;
        border-left: 5px solid;
        margin:16px 15px 24px 17px;
        border-bottom: 1px solid #EBEBEB;
    }
    &__last{
        padding: 11px 0 11px 11px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #EF5B70;
        border-left: 5px solid;
        margin:16px 15px 16px 17px;
        border-bottom: 1px solid #EBEBEB;
    }
}

.filter{
    font-family: Lato;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
}

.filter__block:nth-child(2){
    margin:0 20px 0 20px;
}

.card__box{
    margin: 35px 0 48px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 360px;   
    min-height: 581px;
    background: #F8F8F8;
    margin-top: 30px;
    &:first-child{
        z-index: 1;
    }
    &__picture{
        height: 420px;
        overflow: hidden;
        position: relative;
    }
    &:hover .overlay{
        opacity: 1;
    }
    &:hover{
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    }
    &__btn{
        display: flex;
        background-color: rgba(58, 56, 56, 0.83);
        transition: 0.5s;
        text-align: center;
        border: 1px solid #ffffff;
        svg{
            padding: 10px 0px 8px 12px;
        }
        p{
            color: #ffffff;
            font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 13px 15px 12px 12px;
        }
        &:hover{
            cursor: pointer;
            transition: all 0.5s;
            transform: scale(1.05);
        }
    }
    &__txt{
        margin-top: 25px;
    }
    &__link{
        text-decoration: none;
        color: #222222;
        &:hover{
            color: #F16D7F;
        }
    }
    &__header{
        margin: 0 0 12px 18px;
        font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    }
    &__text{
        margin: 0 28px 18px 16px;
        font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    
    color: #5D5D5D;
    }
    &__price{
        margin: 0 0 20px 16px;
        font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #F16D7F;
    }
}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
    background-color: rgba(58, 56, 56, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
  }

.box{
    margin:  0 auto;
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 290px;
    padding: 15px;
    margin-bottom: 96px;
}
.left{
    margin-right: 18px;
}
.right{
    margin-left: 18px;
}
.center{
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
color: #d4d4d4;
}
.page{
    color: #EF5B70;;
}
.featur{
    background-color: #222224;
}
.featur__wrap{
    display: flex;
    justify-content: space-between;
}
.block{
text-align: center;
    padding: 103px 0 104px 0;
    margin: 0 15px;
}
.featur__img{
    margin-bottom: 28px;
}

.featur__header{
    margin-bottom: 16px;
    font-family: Lato;
font-size: 20px;
line-height: 24px;
color: #FBFBFB
}
.featur__text{
    font-family: Lato;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FBFBFB
}




@import "footer";

@import "comment";

@import "subscribe";

@import "input";

@import "copyright";

@import "icon";


@media (max-width: 768px){

    .container{
        padding: 0;
    }

    .intro__text__left{
        margin-left: 16px;
    }
    .intro__text__right{
        margin-right: 16px;
    }
    .card__box{
        margin: 40px 0 14px 0;
    }
    .card:nth-child(even){
        margin: 0 16px 16px 0;
    }
    .card:nth-child(odd){
        margin: 0 16px 16px 16px;
    }

    .card:last-child{
        display: none;
    }

    .catalog__header{
        display: flex;
        justify-content: space-between;
    }
    .catalog__filter__left{
        margin-right: 0;
        margin-left: 16px;
    }
    .catalog__filters__center{
        margin-right: 16px;
    }

    .featur__wrap{

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .block{
        margin: 0 auto;
    align-items: center;
        max-width: 360px;
        text-align: center;
        padding: 48px 0 48px 0;
        &:last-child{
            padding-bottom: 65px;
        }
    }
}

@media (max-width: 375px){
    .intro__wrap{
        display: flex;
        flex-direction: column;
    }
    .intro__text__left{
        margin: 0 auto;
        margin-top: 24px;
    }
    .intro__text__right{
        margin: 0 auto;
        margin-top: 32px;
    }
    .catalog__item{
        margin-left: -21px;
    }
    .catalog__filter__left{
        margin-left: 8px;
    }
    .catalog__filters__center{
        margin-right: 8px;
    }
    .card:nth-child(even){
        margin: 0px 8px 16px 8px;
    }
    .card:nth-child(odd){
       margin:0 8px 16px 8px;
    }
    .box{
        margin-top: 24px;
    }

}